In [1]:
# bibliotecas necessárias
import pandas as pd

# criando objeto com caminho e carregando arquivo csv
path = '/home/robson/repositorios/bike-manufacturing-company/data-lake/landing/Sales.SalesOrderDetail.csv'
loaded_csv = pd.read_csv(path, sep=';')

# criando dataframe pandas
df = pd.DataFrame(loaded_csv)

#### Análise estrutural

In [2]:
# verificando estrutura do dataframe (rows, columns)
df.shape

(121317, 11)

In [3]:
# verificando tipos de dados
df.dtypes

SalesOrderID               int64
SalesOrderDetailID         int64
CarrierTrackingNumber     object
OrderQty                   int64
ProductID                  int64
SpecialOfferID             int64
UnitPrice                 object
UnitPriceDiscount         object
LineTotal                float64
rowguid                   object
ModifiedDate              object
dtype: object

In [4]:
# analisando valores unicos de cada coluna nao-numerica
df.describe(exclude='number')

,CarrierTrackingNumber,UnitPrice,UnitPriceDiscount,rowguid,ModifiedDate
count,60919,121317,121317,121317,121317
unique,3806,287,9,121317,1124
top,9429-430D-89,"4,99","0,00",B207C96D-D9E6-402B-8470-2CC176C42283,2013-06-30 00:00:00.000
freq,72,8827,118035,1,3876

#### Análise qualitativa

In [5]:
# verificando existencia de dados nulos por coluna
df.isnull().sum()

SalesOrderID                 0
SalesOrderDetailID           0
CarrierTrackingNumber    60398
OrderQty                     0
ProductID                    0
SpecialOfferID               0
UnitPrice                    0
UnitPriceDiscount            0
LineTotal                    0
rowguid                      0
ModifiedDate                 0
dtype: int64

### Conclusão:

1- Apenas a coluna "CarrierTrackingNumber" com dados nulos. Será inserido um valor padrão.

2- Mudança de tipos de dados.