In [1]:
# bibliotecas necessárias
import pandas as pd

# criando objeto com caminho e carregando arquivo csv
path = '/home/robson/repositorios/bike-manufacturing-company/data-lake/landing/Sales.SpecialOfferProduct.csv'
loaded_csv = pd.read_csv(path, sep=';')

# criando dataframe pandas
df = pd.DataFrame(loaded_csv)

#### Análise estrutural

In [2]:
# verificando estrutura do dataframe (rows, columns)
df.shape

(538, 4)

In [3]:
# verificando tipos de dados
df.dtypes

SpecialOfferID     int64
ProductID          int64
rowguid           object
ModifiedDate      object
dtype: object

In [4]:
# analisando valores unicos de cada coluna nao-numerica
df.describe(exclude='number')

                                     rowguid             ModifiedDate
count                                    538                      538
unique                                   538                        8
top     BB30B868-D86C-4557-8DB2-4B2D0A83A0FB  2011-04-01 00:00:00.000
freq                                       1                      295

#### Análise qualitativa

In [5]:
# verificando existencia de dados nulos por coluna
df.isnull().sum()

SpecialOfferID    0
ProductID         0
rowguid           0
ModifiedDate      0
dtype: int64

### Conclusão: 

Só serão modificados os tipos das colunas